body {
    background: #eef;
}

#crossword {
    display: grid;
    width: 800px;
    height: 800px;
}

.cell {
    background: #114;
    border: 1px solid #eef;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 30px;
    font-weight: bolder;
    overflow: hidden;
    color:#eef;

    -webkit-user-select: none;
    user-select: none;
}

.void {
    background: #eef;
}

.selected {
    background: #88f;
}

.highlighted {
    background: #229;
}
