
body {
    overflow: hidden;
    background: #eef;
}

#crossword {
    display: grid;
    width: var(--puzzle-width);
    height: var(--puzzle-height);
}

.cell {
    background: #114;
    border: calc(var(--scale-factor) * 0.01px) solid #eef;
    border-radius: calc(var(--scale-factor) * 0.25px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: calc(var(--scale-factor) * 0.75px);
    font-weight: 600;
    overflow: hidden;
    color:#eef;

    -webkit-user-select: none;
    user-select: none;
}

.void {
    background: #eef;
}

.selected {
    background: #88f;
}

.highlighted {
    background: #229;
}

.solved {
    background: #292;
}

#clue-text {
    margin: 24px;
    font-size: 24px;
    height: 10vh;
    color: #113;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    height: 25vh;
}

.keyboard-row {
    display: grid;
    flex: 1;
}

.key-button {
    background: #55c;
    color: #eef;
    border-radius: 2vw;
    margin: 0.5vw;
    font-size: 4vw;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease;
}

.key-button:active {
    background: #338;
}