
body {
    /*overflow: hidden;*/
    background: #eef;
}

#crossword {
    display: grid;
    width: var(--puzzle-width);
    height: var(--puzzle-height);
}

.cell {
    background: #114;
    border: calc(var(--scale-factor) * 0.01px) solid #eef;
    border-radius: calc(var(--scale-factor) * 0.25px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: calc(var(--scale-factor) * 0.75px);
    font-weight: 600;
    overflow: hidden;
    color:#eef;

    -webkit-user-select: none;
    user-select: none;
}

.void {
    background: #eef;
}

.selected {
    background: #88f;
}

.highlighted {
    background: #229;
}

.solved {
    background: #292;
}

#clue-div {
    display: flex;
    flex-direction: row;
    height: 10vh;
}

#clue-text {
    color: #113;
    text-align: center;
    margin: 24px 0px;
    font-size: 2vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    -webkit-user-select: none;
    user-select: none;
}

#hint-div {
    display: flex;
    flex-direction: column;
    width: 8vh;
}

#hint-button {
    flex: 1;
    background: conic-gradient(#aa8 0deg var(--hint-fill), transparent var(--hint-fill) 360deg), #dd2;
    border-radius: 2vh;
    padding: 1vh;
    margin: 1vh;
}

#hint-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #b80;

    -webkit-user-select: none;
    user-select: none;
}

.keyboard {
    display: flex;
    flex-direction: column;
    height: 25vh;
}

.keyboard-row {
    display: grid;
    flex: 1;
}

.key-button {
    background: #55c;
    color: #eef;
    border-radius: 2vw;
    margin: 0.5vw;
    font-size: 4vw;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease;

    -webkit-user-select: none;
    user-select: none;
}

.key-button:active {
    background: #338;
}