
body {
    overflow: hidden;
    background: #eef;
}

#crossword {
    display: grid;
    width: var(--puzzle-width);
    height: var(--puzzle-height);
}

.cell {
    background: #114;
    border: calc(var(--scale-factor) * 0.01px) solid #eef;
    border-radius: calc(var(--scale-factor) * 0.25px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: calc(var(--scale-factor) * 0.75px);
    font-weight: calc(var(--scale-factor) * 0.125px);
    overflow: hidden;
    color:#eef;

    -webkit-user-select: none;
    user-select: none;
}

.void {
    background: #eef;
}

.selected {
    background: #88f;
}

.highlighted {
    background: #229;
}

.solved {
    background: #292;
}

#clue-text {
    margin: 24px;
    font-size: 24px;
    min-height: 50px;
    color: #113;
}
